*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}


body {
  background: linear-gradient(rgba(203, 203, 203, 0.5), rgba(203, 203, 203, 0.5)),
    url("/images/todolistBackground3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;

  /* footer support */
  margin-bottom: 100px;
}

/* Heading Tag */
h1 {
  color: white;
  font-size: 1.8em;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

/* Paragraph Tag */
p {
  margin: 0;
  padding: 20px;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

/* Flex Container */
.flex-container1 {
  display: grid;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.boxMargin {
  margin-top: 2em;
}

.box {
  max-width: 310px;
  margin: 1.5em auto;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 0.2em;
}

#heading {
  background-color: black;
  text-align: center;
}

.item {
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .boxMargin {
    margin-top: 2.5em;
  }

  .box {
    max-width: 360px;
  }

  /* Heading Tag */
  h1 {
    font-size: 2em;
    padding: 10px;
  }

  /* Paragraph Tag */
  p {
    font-size: 1.3em;
  }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {

  .boxMargin {
    margin-top: 2em;
  }

  .box {
    max-width: 360px;
  }

   /* Heading Tag */
   h1 {
    font-size: 2em;
    padding: 10px;
  }

    /* Paragraph Tag */
    p {
      font-size: 1.2  em;
    }
}




/* Checkout Line Word */
input:checked + p {
  text-decoration: line-through;
  text-decoration-color: rgb(0, 0, 0);
}

/* Margin Padding at Checkboxes */
input[type="checkbox"] {
  margin: 20px;
}

/* FORM STRICT = form.item */
form.item {
  text-align: center;
  margin-left: 20px;
}

/* Button + */
button {
  min-height: 10px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(63, 63, 63);
  color: #fff;
  font-size: 30px;
  /* padding-bottom: 1px; */
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #679b9b;
}

::placeholder {
  color: grey;
  opacity: 1;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0.5em;
  color: #000;
}

/* Images */
.toDoListIcon {
  margin-top: 5em;
  width: 12em;
}

/* Tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Images */
  .toDoListIcon {
    margin-top: 6em;
    width: 15em;
  }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {
  /* Images */
  .toDoListIcon {
    margin-top: 5em;
    width: 13em;
  }
}
